  <form class='login-form' #razonesForm="ngForm" (ngSubmit)="saveRazones(razonesForm)">
    <div class="flex-row">
      <label class="lf--label" for="title">
      </label>
      <input [(ngModel)]="title" name="title" id="title" class='lf--input' placeholder='Razon' type='text'>
    </div>
    <div class="flex-row">
      <label class="lf--label" for="description">
      </label>
      <input [(ngModel)]="description" name="description" id="description" class='lf--input' placeholder='Descripcion' type='text'>
    </div>
    <input class='lf--submit' type='submit' value='Create New reason'>
  </form>

  {{razonesForm.value | json}}